body{
    background-color: gray;
    text-align: center;
}


h1{
    color: white;
}

img{
    border-radius: 20px;
    position: absolute;
    left:460px;
}

#rightBlock{
    width: 350px;
    height: 450px;
    background-color: white;
    position:absolute;
    left: 100px;
    top: 100px;
    border-radius: 20px;
    
}

#leftBlock{
    width: 350px;
    height: 450px;
    background-color: white;
    position:absolute;
    left: 982px;
    top: 100px;
    border-radius: 20px;
    
}

#PrevSlide{
    background-color: lawngreen;
    border-radius: 10px;
    width: 230px;
    color: white;
    font-size: 28px;
    margin-bottom: 30px;
    position: absolute;
    left:480px;
    top:600px;
}

#NextSlide{
    background-color: lawngreen;
    border-radius: 10px;
    width: 230px;
    color: white;
    font-size: 28px;
    margin-bottom: 30px;
    position: absolute;
    top:600px;
}



img:hover{
width: 510px;
}