body{
    background-color: lightgrey;
}


header{
    background-color: white;
    color: whitesmoke;
    width: 100%; 
    height: 30px;
    position: absolute;
    text-align: center;
    padding-top: 8px;
}

#HouseButton{
    
    background-color: palevioletred;
    width: 145px;
    border-top-right-radius: 80px;
    color: white;
    font-size: 17px;
    position: absolute;
    left:481px;
}

#TreeButton{
    background-color: darkseagreen;
    width: 145px;
    color: white;
    font-size: 17px;
    position: absolute;
    left:646px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

#PlaneButton{
    
    background-color: lightsteelblue;
    width: 146px;
    color: white;
    font-size: 17px;
    position: absolute;
    left:812px;
    border-top-left-radius: 80px;
    
}


#houseIconHolder{
    position: absolute;
    background-color: palevioletred;
    width: 10%;
    height: 80px;
    top: 60px;
    left: 490px;
    border-bottom-right-radius: 80px;
}

#treeIconHolder{
    position: absolute;
    background-color: darkseagreen;
    width: 10%;
    height: 80px;
    top: 60px;
    left: 655px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    padding-top: 5px;

}

#planeIconHolder{
    position: absolute;
    background-color: lightsteelblue;
    width: 10%;
    height: 80px;
    top: 60px;
    left: 820px;
    border-bottom-left-radius: 80px;
}

#resultHolder{
    position: absolute;
    background: linear-gradient(90deg, palevioletred 0%, darkseagreen 50%, lightsteelblue 100%);
    width: 33%;
    height: 500px;
    top: 150px;
    left: 490px;
    border-bottom-left-radius:80px; 
    border-bottom-right-radius: 80px;
    
}

#bottomLine{
    position: absolute;
    background-color:white;
    width: 100%;
    height: 100px;
    top: 660px;    
    
}
#iconHouse{
    width: 100%;
    height: 70px;
    border-bottom-right-radius: 80px;
    position: absolute;
    left:-15px;
    top: 5px;
}
#iconTree{
    width: 100%;
    height: 70px;
    border-bottom-right-radius: 80px;
    position: absolute;
}
#iconPlane{
    width: 100%;
    height: 70px;
    border-bottom-right-radius: 80px;
    position: absolute;
    left:10px;
    top: 5px;
}

#resultImg{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius:80px;
    
}

